{% extends 'base.html' %}
{% block 'metadate' %}
    <meta name="description" content="Ответы на вопросы">
    <title>Ответы на вопросы</title>
{% endblock %}
{% block 'content' %}
    <div class="sectionIndex">
    <div class="titleName">
        <h2>Ответы на вопросы
				<div class="linetitlename"></div>
			</h2>
    </div>
    <style>
        .quest{
              background-color: #cfcfcf;
            width: 750px;
            border-bottom: 1px solid #e1e1e1;
            margin: auto;

        }
        .quest>label{
            padding: 5px 10px;

        }
        .quest>div{

            display: none;
            background-color: #e1e1e1;
            text-align: justify;
            padding: 10px;
        }
        .quest>.check{
            display: none;
        }
        .quest>.check:checked ~ div{
            display: block;
        }
    </style>
    <div class="listing">
       <div class="lookmore left">
				<a href="{% url 'addquestion' %}"><h4>Задать свой вопрос</h4></a>
			</div>

        <br>
        {% for q in questions %}
            <div class="quest">
                <input type="checkbox" id="{{ q.id }}" class="check" >
                <label for="{{ q.id }}">{{ q.question }}</label>
                <div>
                    {{ q.answer }}
                </div>
                </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}