{% extends 'base.html' %}
{% load goodtags %}
{% load slidertag %}


{% block 'metadate' %}
    <meta name="description" content="Строительство домов, дач, котеджей под ключ в Москве и московской области. | СК Домовед ">
    <meta name="keywords" content="Строительная компания в москве, построить дом, дом под ключ, построить дом недорого"/>
    <title>Строительство домов, дач и коттеджей под ключ | СК Домовед</title>
{% endblock %}



{% block 'slider' %}
    {% slider %}
{% endblock %}




{% block 'content'%}
<div class="sectionIndex">
<div class="titleName">
  <h1>СК Домовед<br>Строительство домов, дач и коттеджей под ключ.
    <div class="linetitlename"></div>
  </h1>

  </div>
      <div class="listing">
        <div class=aboutUsHome>
          <p>СК Домовед осуществляет строительство домов, дач, коттеджей и других сооружений в Москве и московской области. Приемлемые цены и качественное строительство домов любого типа сложности. Мы поможем выбрать материал изготовления дома. Он может быть как каркасный, кирпичный, из бруса, из оцилиндрованного бревна или из пеноблока. Мы быстро и точно составим план и смету для строительства любого типа дома. В нашей команде сотрудники которые добросовестно выполняют свою работу. </p>
          <p>Мы возводим дома с самого начала, принимая все организационные вопросы на себя, вплоть до предварительной расчистки площадки для будущего дома.
          </p>
            <p>Ваш уютный дом, теплая дача или просторный коттедж прослужат Вам очень долго.</p>
        </div>
        </div>
  <div class="lookmore right">
    <a href="{% url "ListProjects" %}" ><h4>Смотреть больше</h4></a>
  </div>

</div>
                {% if   project is not None %}
		<div class="sectionIndex">
		<div class="titleName">
			<h2>Наши проекты
				<div class="linetitlename"></div>
			</h2>

			</div>
		      <div class="listing">

            {% for a in project   %}
                 {% goodItem a forloop.counter0 %}

               {% endfor %}
            </div>
			<div class="lookmore right">
				<a href="{% url 'infopage' 'aboutcompany' %}" ><h4>Читать подробнее</h4></a>
			</div>

</div>


{% endif %}

{% if opinions is not None %}

		<div class="sectionIndex">
			<div class="titleName">
			<h2>Отзывы
				<div class="linetitlename"></div>
			</h2>

			</div>
			<div class="listing">

                {% for opin in opinions %}
                    {% opinionItem opin forloop.counter0 %}
                {% endfor %}


            </div>
            <div style="display: flex;">
                 <div class="lookmore left">
				<a href="{% url 'feedback' %}"><h4>Оставить свой отзыв</h4></a>
			</div>
		<div class="lookmore right">
				<a href="{% url "ListOpinion" %}"><h4>Смотреть больше</h4></a>
			</div>
            </div>




			</div>




{% endif %}



	<div class="sectionIndex">
			<div class="titleName">
			<h2>Задайте свой вопрос
				<div class="linetitlename"></div>
			</h2>




			</div>
<form action="{% url 'addquestion' %}" method="post">
                {% csrf_token %}
				<div class="question">
                    <div class="info">
					{{ askform.name.label_tag}}<br>
					{{ askform.name}}
					</div>

				<div class="info">
					{{ askform.telephone.label_tag}}<br>
					{{ askform.telephone}}
					</div>
				<div class="infoQuestion">
					{{ askform.email.label_tag}}<br>
					{{ askform.email}}
					</div>
				<div class="infoQuestion">
					{{ askform.question.label_tag}}<br>
					<br>
					{{ askform.question}}
					</div>
				<input type="submit" value="Отправить">
				</div>


			</form>
    </div>
{% endblock %}
